{% extends 'base.html.twig' %}

{% block title %}Créer une entreprise{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Modifier une entreprise</h1>

    {% else %}
        <h1>Créer une entreprise</h1>
    {% endif %}

    <div class="container">
        {{form_start(formCreate)}}
        <div class="row flex-column">
            <div class="col-sm">
                {{form_row(formCreate.raisonSociale)}}
            </div>
            <div class="col-sm">
                {{form_row(formCreate.dateCreation)}}
            </div>
            <div class="col-sm">
                {{form_row(formCreate.adresse)}}
            </div>
            <div class="col-sm">
                {{form_row(formCreate.cp)}}
            </div>
            <div class="col-sm">
                {{form_row(formCreate.ville)}}
            </div>
            {{form_row(formCreate.valider)}}
            {{form_end(formCreate)}}
        </div>
    </div>

{% endblock %}
