{% extends 'base.html.twig' %}
{% block title %}Hello EntrepriseController! {% endblock %}
{% block body %}
<div class="container-fluid bgAll h-100">
  <div class="row h-100">
    <div class="col-12 backdrop d-flex text-center flex-column h-100">
      <h1 class="textColor">Profile de l'entreprise</h1>
      <p class="textColor">Raison Social : {{ entreprise }}</p>
      <p class="textColor">Adresse : {{ entreprise.adresse }}, {{ entreprise.cp }}, {{ entreprise.ville }}</p>
      <p class="textColor">Date de création : {{ entreprise.dateCreationFr }}</p>
      <h4 class="textColor">Liste des employés de l'entreprise :</h4>
      {% if entreprise.salaries | length >= 1 %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Date d'embauche</th>
            <th scope="col">Ville</th>
            <th scope="col">Renvoyer</th>
          </tr>
        </thead>
        <tbody>
            {% for employe in entreprise.salaries %}
            <tr class="table-active">
                <th scope="row">{{ employe.id }}</th>
                <td><a href="{{ path('show_employe', { id: employe.id }) }}">{{ employe.nom }}</a></td>
                <td>{{ employe.prenom }}</td>
                <td>{{ employe.dateNaissanceFr }}</td>
                <td>{{ employe.dateEmbaucheFr }}</td>
                {% if employe.ville %}
                <td>{{ employe.ville }}</td>
                {% else %}
                <td>Non renseigné</td>
                {% endif %}
                <td><a class="btn btn-warning" href="{{ path('fired_employe', { id: employe.id}) }}" >Virer</a></td>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Pas d'employés dans l'entreprise !</p>
    {% endif %}
    {% if employes | length >= 1 %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Ville</th>
            <th scope="col">Engager</th>
          </tr>
        </thead>
        <tbody>
          {% for employe in employes %}
          <tr class="table-active">
              <th scope="row">{{ employe.id }}</th>
              <td><a href="{{ path('show_employe', { id: employe.id }) }}">{{ employe.nom }}</a></td>
              <td>{{ employe.prenom }}</td>
              <td>{{ employe.dateNaissanceFr }}</td>
              {% if employe.ville %}
              <td>{{ employe.ville }}</td>
              {% else %}
              <td>Non renseigné</td>
              {% endif %}
              <td><a class="btn btn-warning" href="{{ path('hired_employe', { 'id': entreprise.id, 'idemploye': employe.id}) }}" >Engager</a></td>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
</div>

{% endblock %}